## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_g import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Odesskoye,RU,54.2111,72.9651,7.47,94,95,6.31,overcast clouds
1,1,Barrow,US,71.2906,-156.7887,-29.18,75,0,8.05,clear sky
2,2,Bilibino,RU,68.0546,166.4372,-25.10,100,100,1.83,overcast clouds
3,3,Isangel,VU,-19.5500,169.2667,81.84,81,100,4.99,overcast clouds
4,4,Bengkulu,ID,-3.8004,102.2655,84.16,69,97,7.63,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Brr! What is the minimum temperature you would like during your trip? "))
max_temp = float(input("Phew! What is the maximum temperature you would like during your trip? "))

Brr! What is the minimum temperature you would like during your trip? 50
Phew! What is the maximum temperature you would like during your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Isangel,VU,-19.5500,169.2667,81.84,81,100,4.99,overcast clouds
4,4,Bengkulu,ID,-3.8004,102.2655,84.16,69,97,7.63,overcast clouds
5,5,Vaini,TO,-21.2000,-175.2000,82.56,83,75,6.91,broken clouds
6,6,Roquetas De Mar,ES,36.7642,-2.6148,51.62,76,27,1.68,scattered clouds
7,7,Rikitea,PF,-23.1203,-134.9692,79.00,71,0,16.55,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()
# yes 4 NaN's to drop

City_ID                354
City                   354
Country                350
Lat                    354
Lng                    354
Max Temp               354
Humidity               354
Cloudiness             354
Wind Speed             354
Current Description    354
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
print(preferred_cities_df)

     City_ID             City Country      Lat       Lng  Max Temp  Humidity  \
3          3          Isangel      VU -19.5500  169.2667     81.84        81
4          4         Bengkulu      ID  -3.8004  102.2655     84.16        69
5          5            Vaini      TO -21.2000 -175.2000     82.56        83
6          6  Roquetas De Mar      ES  36.7642   -2.6148     51.62        76
7          7          Rikitea      PF -23.1203 -134.9692     79.00        71
..       ...              ...     ...      ...       ...       ...       ...
644      644    Ponta Delgada      PT  37.7333  -25.6667     62.51       100
647      647         Waingapu      ID  -9.6567  120.2641     83.12        75
648      648           Taltal      CL -25.4000  -70.4833     65.97        84
650      650           Kasane      BW -17.8167   25.1500     68.32        86
651      651         Tarauaca      BR  -8.1614  -70.7656     71.38        99

     Cloudiness  Wind Speed      Current Description
3           100        4.99          overcast clouds
4            97        7.63          overcast clouds
5            75        6.91            broken clouds
6            27        1.68         scattered clouds
7             0       16.55                clear sky
..          ...         ...                      ...
644          75       14.97  light intensity drizzle
647          98        4.32          overcast clouds
648          34        2.06         scattered clouds
650          63        6.44            broken clouds
651          78        0.63            broken clouds

[354 rows x 10 columns]

In [7]:
pref_cities_df = preferred_cities_df.dropna()

In [8]:
print(pref_cities_df)

     City_ID             City Country      Lat       Lng  Max Temp  Humidity  \
3          3          Isangel      VU -19.5500  169.2667     81.84        81
4          4         Bengkulu      ID  -3.8004  102.2655     84.16        69
5          5            Vaini      TO -21.2000 -175.2000     82.56        83
6          6  Roquetas De Mar      ES  36.7642   -2.6148     51.62        76
7          7          Rikitea      PF -23.1203 -134.9692     79.00        71
..       ...              ...     ...      ...       ...       ...       ...
644      644    Ponta Delgada      PT  37.7333  -25.6667     62.51       100
647      647         Waingapu      ID  -9.6567  120.2641     83.12        75
648      648           Taltal      CL -25.4000  -70.4833     65.97        84
650      650           Kasane      BW -17.8167   25.1500     68.32        86
651      651         Tarauaca      BR  -8.1614  -70.7656     71.38        99

     Cloudiness  Wind Speed      Current Description
3           100        4.99          overcast clouds
4            97        7.63          overcast clouds
5            75        6.91            broken clouds
6            27        1.68         scattered clouds
7             0       16.55                clear sky
..          ...         ...                      ...
644          75       14.97  light intensity drizzle
647          98        4.32          overcast clouds
648          34        2.06         scattered clouds
650          63        6.44            broken clouds
651          78        0.63            broken clouds

[350 rows x 10 columns]

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = pref_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Isangel,VU,81.84,overcast clouds,-19.5500,169.2667,
4,Bengkulu,ID,84.16,overcast clouds,-3.8004,102.2655,
5,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,
6,Roquetas De Mar,ES,51.62,scattered clouds,36.7642,-2.6148,
7,Rikitea,PF,79.00,clear sky,-23.1203,-134.9692,
9,Nizwa,OM,70.90,clear sky,22.9333,57.5333,
12,Santiago Del Estero,AR,59.83,clear sky,-27.7951,-64.2615,
13,Port Elizabeth,ZA,73.76,overcast clouds,-33.9180,25.5701,
15,Ribeira Grande,PT,61.39,overcast clouds,38.5167,-28.7000,
20,Kribi,CM,78.78,light rain,2.9500,9.9167,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url,params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        continue

In [11]:
# 7. Drop the rows where there is no Hotel Name.
print(hotel_df)

                City Country  Max Temp      Current Description      Lat  \
3            Isangel      VU     81.84          overcast clouds -19.5500
4           Bengkulu      ID     84.16          overcast clouds  -3.8004
5              Vaini      TO     82.56            broken clouds -21.2000
6    Roquetas De Mar      ES     51.62         scattered clouds  36.7642
7            Rikitea      PF     79.00                clear sky -23.1203
..               ...     ...       ...                      ...      ...
644    Ponta Delgada      PT     62.51  light intensity drizzle  37.7333
647         Waingapu      ID     83.12          overcast clouds  -9.6567
648           Taltal      CL     65.97         scattered clouds -25.4000
650           Kasane      BW     68.32            broken clouds -17.8167
651         Tarauaca      BR     71.38            broken clouds  -8.1614

          Lng Hotel Name
3    169.2667
4    102.2655
5   -175.2000
6     -2.6148
7   -134.9692
..        ...        ...
644  -25.6667
647  120.2641
648  -70.4833
650   25.1500
651  -70.7656

[350 rows x 7 columns]

In [12]:
len(hotel_df[hotel_df['Hotel Name'] == ''])
drop_list = hotel_df[hotel_df['Hotel Name']==''].index
hotel_df.drop(index=drop_list,inplace=True)

In [13]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
hotel_df.to_csv('WeatherPy_vacation.csv', index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))